@media(max-width: 1200px)
    .menu
        &__item
            padding-right: 20px
        &__link
            font-size: 13px
    .promo
        &__title
            font-size: 50px
        &__subtitle
            font-size: 35px        
    .benifits__block
        align-items: flex-start
        .text__block
            width: 300px
    .mobile__item
        width: 300px
    .footer_mobile
        padding-left: 20px
        max-width: 290px
        a > img
            max-width: 100%

@media ( max-width: 991px  )
    .menu
        &__item
            padding-right: 14px
        &__link
            font-size: 9px
    .subtitle
        font-size: 12px
    